/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Raleway:wght@100;600&display=swap');

/* Variables */
:root{
    --gray: #2A2E30 ;
    --lightgray: #808080;
    --orange: #F46530;
    --button-hover: #ff4500;
    --white: #ffffff;
    --black : #000000;
}

/* Generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    outline: none;
    text-decoration: none;
    list-style: none;
    transition: all .2s linear;
}

html{
    scroll-behavior: smooth;
}

/* Elementos Estaticos Main */
/* NavBar */
.min__header{
    background-color: var(--gray) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 15px;
}

.min__header-logo{
    color: var(--orange) !important;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

/* Comienzo Botones */
:is(.min__header-boton , .min__boton-comenzar){
    background-color:  var(--orange)  !important;
    height: 60px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    color:  var(--black) ;
    border: 2px solid  var(--black) ;
    border-radius: 4px;
    cursor: pointer;
}

:is(.min__header-boton, .min__header-comenzar:hover) :hover{
    box-shadow: 0 0 15px 10px var(--button-hover);
}

/* Comienzo Footer */
.min__footer{
    background: var(--gray) ;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.min__footer h2{
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    color: var(--white);
}

.min__footer p{
    font-size: 20px;
    text-align: left;
    color: var(--white);
}

.min__footer-contenedor{
    flex: 1;
    margin-right: 20px;
    margin-left: 20px;
}

.min__footer-redes i{
    color: var(--white);
    font-size: 50px;
    width: auto;
    transition: all 0.3;
    cursor: pointer;
    padding: 0 10px;
    margin-top: 50px;
}

.min__footer-redes i:hover{
    transform: scale(1.1);
}

/* Elementos Estaticos */
.ccdn__header{
    background-color: #2A2E30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 15px;
}

.ccdn__contenedor-logo{
    text-align: left;
}

.ccdn__header-logo{
    color: #F46530 !important;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    justify-content: left;
}

.ccdn__nav-links ul {
    list-style-type: none;
    display: flex;
    padding: 0;  
}

.ccdn__nav-links a{
    font-size: 20px;
    font-weight: bold;
    color: #b9b9b9;
    text-decoration: none;
    padding: 10px;
    margin: 10px;

}

.ccdn__elementos-visuales{
    padding: 15px;
    margin-right: -95px;
}

.ccdn__elementos-visuales i{
    display: inline;
    color: #F46530;
    font-size: 25px;
    width: auto;
    transition: all 0.3;
    cursor: pointer;
    padding: 0 10px;
}

.ccdn__buscador{
    display: inline;
    font-size: 25px;
    background-color: transparent;
    border: 1px black solid;    
    border-radius: 7px 7px 7px 7px;
    padding: 15px;
}

.ccdn__buscador::placeholder{
    color: #b9b9b9;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

/* Index.html */
/* Container-primero */
.main__nuevo-cliente{
    background: rgb(42,46,48);
    background: linear-gradient(90deg, rgba(42,46,48,1) 23%, rgba(244,101,48,1) 68%, rgba(118,118,118,1) 97%);
    height: 400px;
    padding: 50px;
}

:is(.main__nuevo-cliente-h1 , .main__nuevo-cliente-h2 , .main__nuevo-cliente-h3){
    color: var(--white);
    font-weight: bold;
    text-align: center;
}

.main__nuevo-cliente-h1{
    font-size: 40px;
}

.main__nuevo-cliente-h2{
    font-size: 25px;
}

.main__nuevo-cliente-h3{
    font-size: 15px;
}

.main__registro{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__nuevo-correo{
    height: 50px;
    width: 400px;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid  var(--black) ;
    border-radius: 4px 4px 4px 4px;
    margin-right: 30px;
}

/* Container-segundo */
.main__elementos-publicidad{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
}

.main__publicidad{
    background: rgb(42,46,48);
    background: linear-gradient(90deg, rgba(42,46,48,1) 23%, rgba(244,101,48,1) 68%, rgba(118,118,118,1) 97%);
    height: 500px;
    padding: 50px;
}

.main__textos-publicidad{
    text-align: center;
    align-items: center;
}

:is(.main__textos-publicidad-h2 , .main__textos-publicidad-h3){
    color: var(--white);
    font-weight: bold;
    text-align: left;
    margin-left: 100px;
}

.main__textos-publicidad-h2{
    font-size: 40px;
}

.main__textos-publicidad-h3{
    font-size: 20px;
}

.main__imagen-publicidad img{
    height: 400px;
    width: auto;
    margin-bottom: 40px;
    border-radius: 7px;
}

/* Container-tercero */
.main__preguntas{
    background: rgb(42,46,48);
    background: linear-gradient(90deg, rgba(42,46,48,1) 23%, rgba(244,101,48,1) 68%, rgba(118,118,118,1) 97%);
    height: 500px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main__preguntas h2{
    font-size: 50px;
    color: var(--white);
    font-weight: bold;
    margin-bottom: 40px;
}

.main__contenido-boton{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    position: relative;
}

.main__check-boton {
    position: absolute;
    left: -9999px;
}

.main__check-boton:checked + .main__boton-desplegable + .main__contenido-boton {
    max-height: 300px;
}

.main__boton-desplegable {
    height: 60px;
    width: 500px;
    background-color:  var(--orange) ;
    color:  var(--black) ;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
}

.main__contenido-boton p{
    height: 170px;
    width: 500px;
    background: rgb(42,46,48);
    background: linear-gradient(90deg, rgba(42,46,48,1) 23%, rgba(244,101,48,1) 68%, rgba(118,118,118,1) 97%);
    color: var(--white);
    font-weight: bold;
    text-align: center;
}

.main__lista-preguntas li{
    list-style-type: none;
}

.main__boton-desplegable:hover{
    box-shadow: 0 0 15px 10px var(--button-hover);
}

/* Paginas */
/* Inicio-sesion.html */
/* Main */
.is__contenedor{
    background: rgb(42,46,48);
    background: linear-gradient(90deg, rgba(42,46,48,1) 23%, rgba(244,101,48,1) 68%, rgba(118,118,118,1) 97%);
    height: 80vh;
    padding: 50px;
}

.is__contenedor-inicio-de-sesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.is__contenedor-datos{
    height: 500px;
    width: 400px;
    border: 2px  var(--black)  solid;
    border-radius: 7px 7px 7px 7px;
    text-align: center;
    align-items: center;
}

.is__contenedor-datos h2{
    color: var(--white);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.is__datos{
    font-size: 25px;
    background-color: transparent;
    border: 1px  var(--black)  solid;    
    border-radius: 7px 7px 7px 7px;
    margin-bottom: 30px;
}

.is__datos::placeholder{
    color:  var(--black) ;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.is__iniciar-sesion{
    background-color:  var(--orange) ;
    height: 60px;
    width: 280px;
    font-size: 20px;
    font-weight: bold;
    color:  var(--black) ;
    border: 2px solid  var(--black) ;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 30px;
}

.is__iniciar-sesion:hover{
    box-shadow: 0 0 15px 10px var(--button-hover);
}

:is(.is__contenedor-datos a){
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

.is__ayuda{
    font-size: 15px;
    margin-left: 20px;
}

.is__ayuda:hover{
    text-decoration: underline;
}

.is__Suscríbete{
    font-size: 19px;
    margin-top: 40px;
}

.is__Suscríbete a:hover{
    text-decoration: underline;
}

.is__chk-recuerdame{
    font-size: 300px;
    font-weight: bold;
}

/* Nuevo-usuario.html */
/* Main */
.nu__contenedor-nuevo-usuario{
    background: rgb(42,46,48);
    background: linear-gradient(90deg, rgba(42,46,48,1) 23%, rgba(244,101,48,1) 68%, rgba(118,118,118,1) 97%);
    height: 80vh;
    padding: 50px;
}

.nu__nuevo-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.nu__contenedor-datos-usuario{
    height: 550px;
    width: 400px;
    border: 2px  var(--black)  solid;
    border-radius: 7px 7px 7px 7px;
    text-align: center;
    align-items: center;
}

.nu__contenedor-datos-usuario h2{
    color: var(--white);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.nu_datos{
    font-size: 25px;
    background-color: transparent;
    border: 1px  var(--black)  solid;    
    border-radius: 7px 7px 7px 7px;
    margin-bottom: 20px;
}

.nu_datos::placeholder{
    color:  var(--black) ;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.nu__boton-registrate{
    background-color:  var(--orange) ;
    height: 60px;
    width: 280px;
    font-size: 20px;
    font-weight: bold;
    color:  var(--black) ;
    border: 2px solid  var(--black) ;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 30px;
}

.nu__boton-registrate:hover{
    box-shadow: 0 0 15px 10px var(--button-hover);
}

:is(.nu__nuevo-usuario a){
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

.nu__ayuda{
    font-size: 15px;
    margin-left: 20px;
}

.nu__ayuda:hover{
    text-decoration: underline;
}

.nu__Suscríbete{
    font-size: 19px;
    margin-top: 30px;
}

.nu__Suscríbete a:hover{
    text-decoration: underline;
}

/* Catalogo Videos */
iframe{
    width: 100%;
    height: 100%;
}

.c__contenedor-catalogo{
    width: 100%;
    min-height: 100vh;
    background: rgb(42,46,48);
    background: linear-gradient(90deg, rgba(42,46,48,1) 23%, rgba(244,101,48,1) 68%, rgba(118,118,118,1) 97%);
    padding: 20px;
}

.c__titulo-categoria{
    padding: 10px;
    display: inline;
    color: var(--white);
    font-weight: 300;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: 2px solid var(--orange);
    border-radius: 6px;
} 

.c__video-categoria{
    border: 1px solid var(--lightgray);
    margin-top: 30px;
    margin-bottom: 40px;
}

.c__contenedor-videos-categoria{
    padding: 0 9%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
    padding-bottom: 20px;
}

/* Querys */
@media (min-width:1200px){
/*Comienzo NavBar*/
.min__header-logo {
    font-size: 35px;
    margin-left: 20px;
}
/*Fin NavBar*/

.ccdn__header-logo{
    font-size: 20px;
}

.ccdn__nav-links ul {
    list-style-type: none;
    display: flex;
    padding: 0;  
}

.ccdn__nav-links{
    margin-left: -300px;
}

.ccdn__nav-links a{
    font-size: 20px;
    margin-right: -10px;
}

.ccdn__buscador{
    height: 50px;
    width: 180px;
    margin-left: -370px;
}

/*Comienzo Botones*/
.min__header-boton {
    width: 150px;
    font-size: 20px;
    margin-right: 30px;
}

.min__boton-comenzar {
    width: 200px;
    font-size: 20px;
}
/*Fin Botones*/

/*Comienzo Footer*/
.min__footer h2 {
    font-size: 25px;
    text-align: left;
}

.min__footer p {
    font-size: 15px;
}

.min__footer-redes i {
    font-size: 30px;
    width: auto;
}
/*Fin Footer*/

/*Comienzo elementos section container-segundo*/
.main__textos-publicidad-h2 {
    font-size: 50px;
    margin-left: -5px;
}

.main__textos-publicidad-h3 {
    font-size: 20px;
    margin-left: -5px;
}

.main__imagen-publicidad img {
    margin-top: 30px;
    margin-left: 5px;
    height: 290px;
    width: auto;
}
/*Fin elementos section container-segundo*/
}